/* /Components/ConversionSettings.razor.rz.scp.css */
.container[b-zhjsojauc3] {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    padding-left: 0px;
    margin-left: 0px;
}

.form-group[b-zhjsojauc3] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

label[b-zhjsojauc3] {
    white-space: nowrap;
}

input[type="text"][b-zhjsojauc3] {
    height: 35px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    background-color: black;
    color: white;
}

#emoteTextbox[b-zhjsojauc3] {
    width: 180px;
}

#breakTextbox[b-zhjsojauc3] {
    width: 50px;
    text-align: center;
}
/* /Components/HighlightedStampOutput.razor.rz.scp.css */
.highlightstack[b-4ai3qvwlud] {
    background-color: yellow;
    color: black;
}

.highlightnote[b-4ai3qvwlud] {
    background-color: darkturquoise;
    color: black;
}

.highlightcontrol[b-4ai3qvwlud] {
    background-color: darkorange;
    color: black;
}

.highlightadjust[b-4ai3qvwlud] {
    background-color: red;
    color: black;
}

#copy-box[b-4ai3qvwlud] {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    padding: 1em;
}

button[b-4ai3qvwlud] {
    padding: 4px 8px;
    background-color: #222222;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

button:hover[b-4ai3qvwlud] {
    background-color: #666666;
}
/* /Components/StampInput.razor.rz.scp.css */
textarea[b-1axanovbp4] {
    color: white;
    background-color: black;

    border: 2px solid white;
    border-radius: 4px;
    width: 100%;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-lzx5e4eybs] {
    position: relative;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: #222222;
    color: white;
}

main[b-lzx5e4eybs] {
    flex: 1;
    margin: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
