/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-lzx5e4eybs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-lzx5e4eybs] {
    flex: 1;
}

.sidebar[b-lzx5e4eybs] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-lzx5e4eybs] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-lzx5e4eybs]  a, .top-row[b-lzx5e4eybs]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-lzx5e4eybs]  a:hover, .top-row[b-lzx5e4eybs]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lzx5e4eybs]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-lzx5e4eybs] {
        justify-content: space-between;
    }

    .top-row[b-lzx5e4eybs]  a, .top-row[b-lzx5e4eybs]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lzx5e4eybs] {
        flex-direction: row;
    }

    .sidebar[b-lzx5e4eybs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lzx5e4eybs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lzx5e4eybs]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lzx5e4eybs], article[b-lzx5e4eybs] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Home.razor.rz.scp.css */
body[b-xge36liv4n] {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #222222;
    
}

textarea[b-xge36liv4n] {
    background-color: #000000;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
}

button[b-xge36liv4n] {
    padding: 4px 8px;
    background-color: #222222;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
}

button:hover[b-xge36liv4n] {
  background-color: #666666;
  cursor: default;
}

div[b-xge36liv4n] {
    
}

p[b-xge36liv4n] {
    color: white;
    margin: 5px 0;
}

hr[b-xge36liv4n] {
    color: white;
}

span[b-xge36liv4n] {
    color: white;
}

.highlightstack[b-xge36liv4n] {
    background-color: yellow;
    color: black;
}

.highlightnote[b-xge36liv4n] {
    background-color: darkturquoise;
    color: black;
}

.highlightcontrol[b-xge36liv4n] {
    background-color: darkorange;
    color: black;
}
