<div>
    <h5>Paste timestamps here:</h5>
    <textarea @oninput="ProcessTextInput" rows="15"></textarea>
</div>

@code {
    private string _data = string.Empty;

    [Parameter]
    public string ChildData { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ChildDataChanged { get; set; }

    private async Task ProcessTextInput(ChangeEventArgs args)
    {
        _data = args.Value?.ToString() ?? string.Empty;
        await ChildDataChanged.InvokeAsync(_data);
    }

    protected override void OnParametersSet()
    {
        _data = ChildData;
        base.OnParametersSet();
    }
}
